<!--Home Menu-->
@Html.Partial("HomeMenu.cshtml")

    <!-- Intro Section -->
    <section id="intro" class="intro-section">
        <div id="headercont">
            <div class="header-img">
                <div class="tp-dottedoverlay twoxtwo header-content">
                        <div class="header-text">
                                <div class="container content-sm text-center">
                                    <div class="tp-caption rs-caption-1" style="white-space:normal;">
                                        WE LEAD OUR CUSTOMERS TO SUCCESS
                                    </div>
                                    <div class="tp-caption rs-caption-2" style="white-space:normal !important;margin:30px 0">
                                        Focused on <strong>solving</strong> business <strong>problems</strong> on web.
                                    <div style="margin-top:30px;">
                                        <span class="page-scroll"><a href="#about" class="btn-u btn-u-lg btn-brd btn-u-light-custom" style="margin-right:10px;">Learn More</a></span>
                                        <span class="page-scroll"><a href="/Portfolio" class="btn-u btn-u-lg btn-brd btn-u-light-custom">Our Work</a></span>
                                    </div>
                                </div>
                        </div>
                </div>
            </div>
        </div>

        @*<div class="fullscreenbanner-container">
        <div class="fullscreenbanner">
            <ul>
                <!-- SLIDE 1 -->
                <li data-transition="fade" data-slotamount="5" data-masterspeed="700" data-title="Slide 1" >
                    <!-- MAIN IMAGE -->
                    <img src="~/img/sliders/revolution/bg1-min.jpg" alt="slidebg1" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
                    <!-- LAYERS -->
                    <div class="tp-caption rs-caption-1 sft start"
                         data-x="center"
                         data-hoffset="0"
                         data-y="100"
                         data-speed="1000"
                         data-start="0"
                         data-easing="Power4.easeOut"
                         data-endspeed="300" 
                         data-endeasing="Power1.easeIn"
                         data-captionhidden="off"
                         style="z-index: 6">
                        WE SOLVE BUSINESS PROBLEMS
                    </div>
                    <!-- LAYERS -->
                    <div class="tp-caption rs-caption-2 sft start"
                         data-x="center"
                         data-hoffset="0"
                         data-y="200"
                         data-speed="1000"
                         data-start="0"
                         data-easing="Power4.easeOut"
                         data-endspeed="300"
                         data-endeasing="Power1.easeIn"
                         data-captionhidden="off"
                         style="z-index: 6">
                        WE SOLVE BUSINESS PROBLEMS
                    </div>
                    <!-- LAYER -->
                    <div class="tp-caption rs-caption-2 sft"
                         data-x="center"
                         data-hoffset="0"
                         data-y="200"
                         data-speed="1000"
                         data-start="0"
                         data-easing="Power4.easeOut"
                         data-endspeed="300"
                         data-endeasing="Power1.easeIn"
                         data-captionhidden="off"
                         style="z-index: 6">
                        Creative freedom matters user experience.<br>
                        We minimize the gap between technology and its audience.
                    </div>
                    <!-- LAYER -->
                    <div class="tp-caption rs-caption-3 sft"
                         data-x="center"
                         data-hoffset="0"
                         data-y="360"
                         data-speed="1000"
                         data-start="0"
                         data-easing="Power4.easeOut"
                         data-endspeed="300"
                         data-endeasing="Power1.easeIn"
                         data-captionhidden="off"
                         style="z-index: 6">
                        <span class="page-scroll"><a href="#about" class="btn-u btn-u-lg btn-brd btn-brd-hover btn-u-light">Learn More</a></span>
                        <span class="page-scroll"><a href="/Portfolio" class="btn-u btn-u-lg btn-brd btn-brd-hover btn-u-light">Our Work</a></span>
                    </div>
                </li>
            </ul>
        </div>
    </div>*@
    </section>
    <!-- End Intro Section -->
    <!-- Services Section -->
    <section id="services">
        <div class="container content-lg">
            <div class="title-v1">
                <h2>Services</h2>
                <p>
                    We do <strong>things</strong> differently and provide key digital <strong>services</strong>. <br>
                </p>
            </div>
            <div class="block-v1-bottom">
                <div class="container">
                    <div class="row content-boxes-v2">
                        <div class="col-md-3 md-margin-bottom-30 service-block-text-center expandable-button">
                            <i class="icon-custom icon-xlg rounded-x icon-bg-u fa fa-code"></i>
                            <div class="content-boxes-in-v2">
                                <h2 class="heading-md">Web Development</h2>
                                <p class="service-block-text-full expandable-zone" style="display:none;">We create custom built solutions, to deliver the full spectrum of modern services to our customers worldwide. You will enjoy working with <span style="color: #3498db;display:inline;">Bliscore</span> on every development stage, from requirements gathering to release deployment.</p>
                            </div>
                        </div>
                        <div class="col-md-3 md-margin-bottom-30 service-block-text-center expandable-button">
                            <i class="icon-custom icon-xlg rounded-x icon-bg-u fa fa-laptop"></i>
                            <div class="content-boxes-in-v3">
                                <h2 class="heading-md">UI/UX Design</h2>
                                <p class="service-block-text-full expandable-zone" style="display:none;">This is the key feature in every software, that provides the best user experience possible. Whether the end users will "feel" comfortable will determine products success and overall look. Most people won't even stand a 5 min try out if this feature was ignored. It is highly important to always think about the end user. Trust us, you don't want to make them unsatisfied.</p>
                            </div>
                        </div>
                        <div class="col-md-3 md-margin-bottom-30 service-block-text-center expandable-button">
                            <i class="icon-custom icon-xlg rounded-x icon-bg-u fa fa-users"></i>
                            <div class="content-boxes-in-v3">
                                <h2 class="heading-md">Dedicated Team</h2>
                                <p class="service-block-text-full expandable-zone" style="display:none;"><span style="color: #3498db;display:inline;">Bliscore</span> provides dedicated professionals along with complete infrastructure and administrative services to work exclusively on the Client's projects. This approach allows companies to hire their own software development employees and manage them directly without having to think about the risks.</p>
                            </div>
                        </div>
                        <div class="col-md-3 service-block-text-center expandable-button">
                            <i class="icon-custom icon-xlg rounded-x icon-bg-u icon-line icon-3x icon-rocket"></i>
                            <div class="content-boxes-in-v3">
                                <h2 class="heading-md">QA</h2>
                                <p class="service-block-text-full expandable-zone" style="display:none;">We offer quality control services, that help you deliver high-quality business solutions. Our domain and industry focused testing services can ensure that your IT product meets growing business needs with high performance and availability.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="title-v1">
                <h2>Technologies</h2>
            </div>
            <div class="row service-box-v1">
                <div class="col-md-4 col-sm-6">
                    <div class="service-block service-block-default">
                        <i class="icon-custom icon-bg-u rounded-x fa fa-codepen"></i>
                        <h2 class="heading-md">WEB</h2>
                        <ul class="list-unstyled">
                            <li>HTML5</li>
                            <li>Javascript</li>
                            <li>.NET</li>
                            <li>JQuery</li>
                            <li>Angular JS</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="service-block service-block-default">
                        <i class="icon-custom icon-bg-u rounded-x icon-line icon-screen-desktop"></i>
                        <h2 class="heading-md">DIGITAL</h2>
                        <ul class="list-unstyled">
                            <li>UI/UX</li>
                            <li>Design</li>
                            <li>Audio Programming</li>
                            <li>KendoUI</li>
                            <li>Bootstrap</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="service-block service-block-default">
                        <i class="icon-custom icon-bg-u rounded-x fa fa-rocket"></i>
                        <h2 class="heading-md">Testing</h2>
                        <ul class="list-unstyled">
                            <li>Design</li>
                            <li>Functional</li>
                            <li>Automation</li>
                            <li>Performance</li>
                            <li>Security</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="title-v1 title-v1-bottom">
                <div class="call-action-v1-in inner-btn" style="margin-top:20px;">
                    <a href="/Portfolio" class="btn-u btn-u-lg">View Our Portfolio</a>
                </div>
            </div>
        </div>
    </section>
    <!-- End Services Section -->

<div class="parallax-quote parallaxBg">
    <div class="container">
        <div class="parallax-quote-in">
            <p>Make <span class="color-green">everything</span> as <span class="color-green">simple</span> as possible, but not simpler.</p>
            <small>- Albert Einstein -</small>
        </div>
    </div>
</div>

<!--  About Section -->
<section id="about" class="about-section section-first">
    <div class="about-image bg-grey" style="border-bottom: none;">
        <div class="container">
            <div class="title-v1">
                <h1>Our Values</h1>
            </div>
            <div class="col-md-8 content-boxes-v3 margin-bottom-40 aboutCustom">
                <div class="clearfix margin-bottom-30 weare-bg">
                    <img class="img-responsive float-left img-center" width="150" height="150" src="~/img/about/Customers-min.png" alt="">
                    @*<i class="icon-custom icon-md rounded-x icon-bg-u icon-line icon-trophy"></i>*@
                    <div class="content-boxes-in-v3 service-block-text-full" style="min-width:60%">
                        <h2 class="heading-sm aboutHeadlines">Customer Focus</h2>
                        <p style="font-size: 14px">High passionate and addicted to their work people, binded with curiosity and a struggle for perfection.</p>
                    </div>
                </div>
                <div class="clearfix margin-bottom-30 weare-bg">
                    <img class="img-responsive float-right img-center" width="150" height="150" src="~/img/about/LessIsMore-min.png" alt="">
                    @*<i class="icon-custom icon-md rounded-x icon-bg-u icon-line icon-directions float-right"></i>*@
                    <div class="content-boxes-in-v3 service-block-text-full" style="min-width:60%">
                        <h2 class="heading-sm aboutHeadlines">Less is More</h2>
                        <p style="font-size: 14px">Every task is completed as a side-by-side mission, benefiting from every point of view. We don't just work with you, we advance with you.</p>
                    </div>
                </div>
                <div class="clearfix margin-bottom-30 weare-bg">
                    <img class="img-responsive float-left img-center" width="150" height="150" src="~/img/about/ProTalent-min.png" alt="">
                    @*<i class="icon-custom icon-md rounded-x icon-bg-u icon-line icon-diamond"></i>*@
                    <div class="content-boxes-in-v3 service-block-text-full" style="min-width:60%">
                        <h2 class="heading-sm aboutHeadlines">Self-Improvement</h2>
                        <p style="font-size: 14px">Each company member is not only a valuable employee, but also a part of something more than just a team.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="team-v1 bg-grey content-lg" style="padding-top: 50px; border-top: none;">
        <div class="container">
            <div class="title-v1">
                <h2>Meet Our Team</h2>
            </div>
            <ul class="list-unstyled row">
                <li class="col-sm-3 col-xs-6 md-margin-bottom-30">
                    <div class="team-img">
                        <img class="img-responsive" src="~/img/Staff/Vasyl-min.jpg" alt="">
                    </div>
                    <h3>Vasyl Sluzhala</h3>
                    <h4>/ Software Engineer</h4>
                </li>
                <li class="col-sm-3 col-xs-6 md-margin-bottom-30">
                    <div class="team-img">
                        <img class="img-responsive" src="~/img/Staff/Ros-min.jpg" alt="">
                    </div>
                    <h3>Rostyslav Khomitskyu</h3>
                    <h4>/ Software Engineer</h4>
                </li>
                <li class="col-sm-3 col-xs-6">
                    <div class="team-img">
                        <img class="img-responsive" src="~/img/Staff/Andrew-min.jpg" alt="">
                    </div>
                    <h3>Andrew Schepanskiy</h3>
                    <h4>/ Software Engineer</h4>
                </li>
                <li class="col-sm-3 col-xs-6">
                    <div class="team-img">
                        <img class="img-responsive" src="~/img/team/img5-min.jpg" alt="">
                    </div>
                    <h3>You</h3>
                    <h4>/ Newcomer</h4>
                </li>
            </ul>
        </div>
    </div>
</section>
<!--  About Section -->

    <!-- Flat Testimonials -->
    <div id="feedback" class="flat-testimonials bg-image-v1 parallaxBg margin-bottom-60">
        <div class="container">
            <div class="headline-center headline-light margin-bottom-60">
                <h2>Testimonials</h2>
            </div><!--/end Headline Center-->
            <div class="row">
                <div class="col-sm-4">
                    <div class="flat-testimonials-in md-margin-bottom-50">
                        <img class="rounded-x img-responsive" src="~/img/team/img1-min.jpg" alt="">
                        <h3>Anthony Connor</h3>
                        <span class="color-green">Software Developer</span>
                        <p>Proin et augue vel nisi rhoncus tincidunt. Cras venenatis, magna id sem ipsum mi interduml</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="flat-testimonials-in md-margin-bottom-50">
                        <img class="rounded-x img-responsive" src="~/img/team/img2-min.jpg" alt="">
                        <h3>Angela Danil</h3>
                        <span class="color-green">Web Designer</span>
                        <p>Proin et augue vel nisi rhoncus tincidunt. Cras venenatis, magna id sem ipsum mi interduml</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="flat-testimonials-in">
                        <img class="rounded-x img-responsive" src="~/img/team/img3-min.jpg" alt="">
                        <h3>Anthony Connor</h3>
                        <span class="color-green">Software Developer</span>
                        <p>Proin et augue vel nisi rhoncus tincidunt. Cras venenatis, magna id sem ipsum mi interduml</p>
                    </div>
                </div>
            </div><!--/end row-->
        </div><!--/end container-->
    </div>
    <!-- End Flat Testimonials -->