    <!-- Intro Section -->
    <section id="intro" class="intro-section">
        <div class="fullscreenbanner-container">
            <div class="fullscreenbanner">
                <ul>
                    <!-- SLIDE 1 -->
                    <li data-transition="curtain-1" data-slotamount="5" data-masterspeed="700" data-title="Slide 1" >
                        <!-- MAIN IMAGE -->
                        <img src="~/img/sliders/revolution/bg1.jpg" alt="slidebg1" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
                        <!-- LAYERS -->
                        <div class="tp-caption rs-caption-1 sft start"
                             data-x="center"
                             data-hoffset="0"
                             data-y="100"
                             data-speed="800"
                             data-start="2000"
                             data-easing="Back.easeInOut"
                             data-endspeed="300">
                            WE ARE UNIFY CREATIVE TECHNOLOGY COMPANY
                        </div>
                        <!-- LAYER -->
                        <div class="tp-caption rs-caption-2 sft"
                             data-x="center"
                             data-hoffset="0"
                             data-y="200"
                             data-speed="1000"
                             data-start="3000"
                             data-easing="Power4.easeOut"
                             data-endspeed="300"
                             data-endeasing="Power1.easeIn"
                             data-captionhidden="off"
                             style="z-index: 6">
                            Creative freedom matters user experience.<br>
                            We minimize the gap between technology and its audience.
                        </div>
                        <!-- LAYER -->
                        <div class="tp-caption rs-caption-3 sft"
                             data-x="center"
                             data-hoffset="0"
                             data-y="360"
                             data-speed="800"
                             data-start="3500"
                             data-easing="Power4.easeOut"
                             data-endspeed="300"
                             data-endeasing="Power1.easeIn"
                             data-captionhidden="off"
                             style="z-index: 6">
                            <span class="page-scroll"><a href="#about" class="btn-u btn-u-lg btn-brd btn-brd-hover btn-u-light">Learn More</a></span>
                            <span class="page-scroll"><a href="/Portfolio" class="btn-u btn-u-lg btn-brd btn-brd-hover btn-u-light">Our Work</a></span>
                        </div>
                    </li>
                    <!-- SLIDE 1 -->
                    <li data-transition="curtain-1" data-slotamount="5" data-masterspeed="700" data-title="Slide 2">
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <!-- End Intro Section -->
    <!-- Services Section -->
    <section id="services">
        <div class="container content-lg">
            <div class="title-v1">
                <h2>Services</h2>
                <p>
                    We do <strong>things</strong> differently and provide key digital services. <br>
                    Focused on helping our clients to build a <strong>successful</strong> business on web.
                </p>
            </div>
            <div class="block-v1-bottom">
                <div class="container">
                    <div class="row content-boxes-v2">
                        <div class="col-md-3 md-margin-bottom-30 service-block-text-center">
                            <i class="icon-custom icon-lg rounded-x icon-bg-dark fa fa-code"></i>
                            <div class="content-boxes-in-v2">
                                <h2 class="heading-md">Web Development</h2>
                                <p class="service-block-text-full">We create custom built solutions, to deliver full spectrum of modern services to our customers globally. You will enjoy working with (our company) on every stage from requirements gathering, prototype, architecture, implementation, testing and deployment.</p>
                            </div>
                        </div>
                        <div class="col-md-3 md-margin-bottom-30 service-block-text-center">
                            <i class="icon-custom icon-lg rounded-x icon-bg-dark fa fa-laptop"></i>
                            <div class="content-boxes-in-v3">
                                <h2 class="heading-md">UI/UX Design</h2>
                                <p class="service-block-text-full">This is the key thing which shows whether end users will use the software or will skip it right after signing up. It is highly important for the final release and should not be underestimated for software success.</p>
                            </div>
                        </div>
                        <div class="col-md-3 md-margin-bottom-30 service-block-text-center">
                            <i class="icon-custom icon-lg rounded-x icon-bg-dark fa fa-users"></i>
                            <div class="content-boxes-in-v3">
                                <h2 class="heading-md">Dedicated Team</h2>
                                <p class="service-block-text-full">(Our company) provides dedicated professional resources along with complete infrastructure and administrative services to work exclusively on the Client's projects. This Model allows companies to hire their own software development employees and manage them directly.</p>
                            </div>
                        </div>
                        <div class="col-md-3 service-block-text-center">
                            <i class="icon-custom icon-lg rounded-x icon-bg-dark fa fa-rocket"></i>
                            <div class="content-boxes-in-v3">
                                <h2 class="heading-md">QA</h2>
                                <p class="service-block-text-full">We offer quality control services, that help you deliver high-quality business solutions. Our domain and industry focused testing services can ensure that your IT product meets growing business needs with high performance and availability.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="title-v1">
                <h2>Technologies</h2>
            </div>
            <div class="row service-box-v1">
                <div class="col-md-4 col-sm-6">
                    <div class="service-block service-block-default">
                        <i class="icon-custom icon-bg-u rounded-x fa fa-codepen"></i>
                        <h2 class="heading-md">WEB</h2>
                        <ul class="list-unstyled">
                            <li>HTML5</li>
                            <li>Javascript</li>
                            <li>.NET</li>
                            <li>JQuery</li>
                            <li>Angular JS</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="service-block service-block-default">
                        <i class="icon-custom icon-bg-u rounded-x icon-line icon-screen-desktop"></i>
                        <h2 class="heading-sm">DIGITAL</h2>
                        <ul class="list-unstyled">
                            <li>UI/UX</li>
                            <li>Design</li>
                            <li>Audio Programming</li>
                            <li>KendoUI</li>
                            <li>Bootstrap</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="service-block service-block-default">
                        <i class="icon-custom icon-bg-u rounded-x icon-line icon-rocket"></i>
                        <h2 class="heading-sm">Testing</h2>
                        <ul class="list-unstyled">
                            <li>Design</li>
                            <li>Functional</li>
                            <li>Automation</li>
                            <li>Performance</li>
                            <li>Security</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="title-v1 title-v1-bottom">
                <p class="call-action-v1-in">Unify creative technology company providing key services focused on helping our clients to build a successful business on web.</p>
                <div class="call-action-v1-in inner-btn" style="margin-top:20px;">
                    <a href="/Portfolio" class="btn-u btn-u-lg btn-brd btn-brd-hover btn-u-dark btn-u-block">View Our Portfolio</a>
                </div>
            </div>
        </div>
    </section>
    <!-- End Services Section -->

<!--  About Section -->
<section id="about" class="about-section section-first">
    <div class="about-image bg-grey">
        <div class="container">
            <div class="title-v1">
                <h1>We are Unify Agency</h1>
                <p>
                    Unify <strong>creative</strong> technology company providing key digital services. <br>
                    Focused on helping our clients to build a <strong>successful</strong> business on web and mobile.
                </p>
            </div>
            <div class="img-center">
                <img class="img-responsive" src="~/img/mockup/mockup.png" alt="">
            </div>
        </div>
    </div>
    <div class="container content-lg">
        <div class="title-v1">
            <h2>Our Vision And Mission</h2>
            <p>
                We <strong>meet</strong> and get to know you. You tell us and we listen. <br>
                We build your website to realise your vision and we <strong>deliver</strong> the ready product.
            </p>
        </div>
        <div class="row">
            <div class="col-md-6 content-boxes-v3 margin-bottom-40">
                <div class="clearfix margin-bottom-30">
                    <i class="icon-custom icon-md rounded-x icon-bg-u icon-line icon-trophy"></i>
                    <div class="content-boxes-in-v3">
                        <h2 class="heading-sm">Innovation Leader</h2>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
                    </div>
                </div>
                <div class="clearfix margin-bottom-30">
                    <i class="icon-custom icon-md rounded-x icon-bg-u icon-line icon-directions"></i>
                    <div class="content-boxes-in-v3">
                        <h2 class="heading-sm">Best Solutions &amp; Approaches</h2>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
                    </div>
                </div>
                <div class="clearfix margin-bottom-30">
                    <i class="icon-custom icon-md rounded-x icon-bg-u icon-line icon-diamond"></i>
                    <div class="content-boxes-in-v3">
                        <h2 class="heading-sm">Quality Service &amp; Support</h2>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <img class="img-responsive" src="~/img/mockup/mockup1.png" alt="">
            </div>
        </div>
    </div>
    <div class="parallax-quote parallaxBg">
        <div class="container">
            <div class="parallax-quote-in">
                <p>If you can design one thing <span class="color-green">you can design</span> everything. <br> Just Believe It.</p>
                <small>- HtmlStream -</small>
            </div>
        </div>
    </div>
    <div class="team-v1 bg-grey content-lg">
        <div class="container">
            <div class="title-v1">
                <h2>Meet Our Team</h2>
                <p>
                    We <strong>meet</strong> and get to know you. You tell us and we listen. <br>
                    We build your website to realise your vision and we <strong>deliver</strong> the ready product.
                </p>
            </div>
            <ul class="list-unstyled row">
                <li class="col-sm-3 col-xs-6 md-margin-bottom-30">
                    <div class="team-img">
                        <img class="img-responsive" src="~/img/team/img1-md.jpg" alt="">
                        <ul>
                            <li><a href="#"><i class="icon-custom icon-sm rounded-x fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="icon-custom icon-sm rounded-x fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="icon-custom icon-sm rounded-x fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                    <h3>John Brown</h3>
                    <h4>/ Technical Director</h4>
                    <p>Technical Director mi porta gravida at eget metus id elit mi egetine...</p>
                </li>
                <li class="col-sm-3 col-xs-6 md-margin-bottom-30">
                    <div class="team-img">
                        <img class="img-responsive" src="~/img/team/img2-md.jpg" alt="">
                        <ul>
                            <li><a href="#"><i class="icon-custom icon-sm rounded-x fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="icon-custom icon-sm rounded-x fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="icon-custom icon-sm rounded-x fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                    <h3>Tina Krueger</h3>
                    <h4>/ Lead Designer</h4>
                    <p>Lead Designer mi porta gravida at eget metus id elit mi egetine...</p>
                </li>
                <li class="col-sm-3 col-xs-6">
                    <div class="team-img">
                        <img class="img-responsive" src="~/img/team/img3-md.jpg" alt="">
                        <ul>
                            <li><a href="#"><i class="icon-custom icon-sm rounded-x fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="icon-custom icon-sm rounded-x fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="icon-custom icon-sm rounded-x fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                    <h3>David Case</h3>
                    <h4>/ Web Developer</h4>
                    <p>Web Developer in Unify agency porta gravida at eget metus id elit...</p>
                </li>
                <li class="col-sm-3 col-xs-6">
                    <div class="team-img">
                        <img class="img-responsive" src="~/img/team/img5-md.jpg" alt="">
                        <ul>
                            <li><a href="#"><i class="icon-custom icon-sm rounded-x fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="icon-custom icon-sm rounded-x fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="icon-custom icon-sm rounded-x fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                    <h3>Kathy Reyes</h3>
                    <h4>/ Creative Designer</h4>
                    <p>Former Designer in Twitter non mi porta gravida at elit mi egetine...</p>
                </li>
            </ul>
        </div>
    </div>
    <div class="parallax-counter parallaxBg">
        <div class="container">
            <div class="row">
                <div class="col-sm-3 col-xs-6">
                    <div class="counters">
                        <span class="counter">10629</span>
                        <h4>Users</h4>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-6">
                    <div class="counters">
                        <span class="counter">277</span>
                        <h4>Projects</h4>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-6">
                    <div class="counters">
                        <span class="counter">78</span>
                        <h4>Team Members</h4>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-6">
                    <div class="counters">
                        <span class="counter">109</span>
                        <h4>Awards</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--  About Section -->

    <!-- Flat Testimonials -->
    <div id="feedback" class="flat-testimonials bg-image-v1 parallaxBg margin-bottom-60">
        <div class="container">
            <div class="headline-center headline-light margin-bottom-60">
                <h2>What People Are Saying</h2>
                <p>Integer odio ligula, tincidunt id volutpat et, imperdiet eget mi. Quisque laoreet porttitor turpis sed <a href="#">fermentum</a>. Nullam sodales blandit nisi, tristique tempor nunc hendrerit at. Sed posuere mollis orci</p>
            </div><!--/end Headline Center-->
            <div class="row">
                <div class="col-sm-4">
                    <div class="flat-testimonials-in md-margin-bottom-50">
                        <img class="rounded-x img-responsive" src="~/img/team/img1-sm.jpg" alt="">
                        <h3>Anthony Connor</h3>
                        <span class="color-green">Software Developer</span>
                        <p>Proin et augue vel nisi rhoncus tincidunt. Cras venenatis, magna id sem ipsum mi interduml</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="flat-testimonials-in md-margin-bottom-50">
                        <img class="rounded-x img-responsive" src="~/img/team/img2-sm.jpg" alt="">
                        <h3>Angela Danil</h3>
                        <span class="color-green">Web Designer</span>
                        <p>Proin et augue vel nisi rhoncus tincidunt. Cras venenatis, magna id sem ipsum mi interduml</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="flat-testimonials-in">
                        <img class="rounded-x img-responsive" src="~/img/team/img3-sm.jpg" alt="">
                        <h3>Anthony Connor</h3>
                        <span class="color-green">Software Developer</span>
                        <p>Proin et augue vel nisi rhoncus tincidunt. Cras venenatis, magna id sem ipsum mi interduml</p>
                    </div>
                </div>
            </div><!--/end row-->
        </div><!--/end container-->
    </div>
    <!-- End Flat Testimonials -->