@Html.Partial("PartnershipMenu.cshtml")

<!--=== Partnership Part ===-->
<section id="partnership">
    <!--=== Parallax ===-->
    <div class="parallax-header-partnership" style="background-position: 60% -130%;">
        <div class="container content-sm text-center">
            <div class="tp-caption rs-caption-1" style="white-space:normal;padding-top:20px;">
                PARTNERSHIP
            </div>
            <div class="tp-caption rs-caption-2" style="white-space:normal !important;">
                Donec id elit non mi porta gravida at eget metus id
            </div>
            <div class="call-action-v1-in inner-btn page-scroll" style="margin-top:40px;z-index:5;position:relative;">
                <span class="page-scroll"><a href="#contact" class="btn-u btn-u-lg btn-brd btn-u-light-custom">Become a Partner</a></span>
            </div>
        </div>
    </div>
    <!--=== End Parallax Counter v4 ===-->

    <div class="container content-lg">
        <div class="row">
            <div class="col-md-4 md-margin-bottom-50">
                <!-- Our Services -->
                <div class="service-block service-block-top service-block-blue">
                    <h2 class="heading-md">Distribution</h2>
                </div>
                <div class="service-block service-block-darkwhite partnership-block">
                    <img src="~/img/about/Distributing-min.png" class="service-block-img" />
                    <p>Become a valuable member of our team. Be the one to spread the word about us and for every satisfied customer recieve a 10% compensation based on the general project cost.</p>
                </div>
            </div><!--/col-md-4-->
            <div class="col-md-4 md-margin-bottom-50">
                <!-- Our Services -->
                <div class="service-block service-block-top service-block-blue">
                    <h2 class="heading-md">Our Responsibilities</h2>
                </div>
                <div class="service-block service-block-darkwhite partnership-block">
                    <img src="~/img/about/Family-min.png" class="service-block-img" />
                    <p>- Project management and efficient team leading.</p>
                    <p>- Human resource management.</p>
                    <p>- Full stack and full time product developement.</p>
                    <p>- Proof of concept and full technical consulting.</p>
                    <p>- Product delivery and maintenance.</p>
                </div>
            </div><!--/col-md-4-->
            <div class="col-md-4 md-margin-bottom-50">
                <!-- Our Services -->
                <div class="service-block service-block-top service-block-blue">
                    <h2 class="heading-md">Benefits</h2>
                </div>
                <div class="service-block service-block-darkwhite partnership-block">
                    <img src="~/img/about/Benefits-min.png" class="service-block-img" />
                    <p>- Risk management on our side.</p>
                    <p>- Robust environment for efficient development.</p>
                    <p>- Full document support till project end.</p>
                </div>
            </div><!--/col-md-4-->
        </div><!--/row-->
    </div><!--/container-->
</section>
<!--=== End Partnership Part ===-->