<!--=== Parallax ===-->
<link href="~/css/custom.css" rel="stylesheet" />

<link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
<style>
    #atmosScreenCarousel .item {
        cursor: pointer;
    }
</style>

@Html.Partial("ProjectMenu.cshtml")

<!--=== Parallax ===--><div class="parallax-header-portfolio" style="background-position: 0% 100%;">
    <div class="container content-sm text-center">
        <div class="tp-caption rs-caption-2">
            Atmos
        </div>
        <div class="tp-caption rs-caption-4">
            Focused on helping our clients to build a <strong>successful</strong> business on web.
        </div>
    </div><!--/end container-->
</div>
<!--=== End Parallax Counter v4 ===-->
<!--=== Container Part ===-->
<div class="container">
    <div class="content">
        <!-- End Magazine Slider -->
        <div class="row margin-bottom-60">
            <div class="col-sm-8">
                <div class="headline">
                    <h2>Product Description</h2>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus in urna nec risus maximus ultricies. Nam nisi mauris, congue non lacus iaculis, interdum luctus dolor. Maecenas pellentesque sapien nec mauris dictum, et mollis lorem eleifend. In hac habitasse platea dictumst. Fusce nec elit et metus blandit posuere eget id ante. Integer fermentum auctor neque eu venenatis. Praesent diam eros, mollis a mattis sit amet, scelerisque sit amet dui. Morbi sed lectus ut lorem vehicula interdum a nec dui. Nam at placerat risus. Mauris eget faucibus tortor. Sed sed iaculis ligula. Aliquam porttitor viverra sagittis.</p>

                <a href="#" class="btn-u btn-u-large">VISIT THE PROJECT</a></div>
            <div class="col-sm-4">
                <h2>Technologies</h2>
                <div class="row portfolio-item1">
                    <div class="col-xs-6">
                        <ul class="list-unstyled">
                            <li><i class="devicon-dot-net-plain-wordmark color-green"></i> ASP.NET MVC</li>
                            <li><i class="devicon-javascript-plain color-green"></i> JavaScript</li>
                            <li><i class="devicon-jquery-plain-wordmark color-green"></i> jQuery</li>
                            <li><i class="fa fa-file-audio-o color-green"></i> NAudio</li>
                        </ul>
                    </div>
                    <div class="col-xs-6">
                        <ul class="list-unstyled">
                            <li><i class="fa fa-database color-green"></i> EF/ADO</li>
                            <li><i class="fa fa-html5 color-green"></i> HTML5/CSS3</li>
                            <li><i class="fa fa-flask color-green"></i> UI Design</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- Magazine Slider -->

        <div class="carousel slide carousel-v1" id="atmosScreenCarousel">
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="~/Portfolio/Atmos/Home.png" />
                        <div class="carousel-caption">
                            <p>Home page is designed to give userup to the second data on your call volume and usage stats, as well as being the central page for all things .</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="~/Portfolio/Atmos/CallListing.png" />
                        <div class="carousel-caption">
                            <p>Displaying all calls, this page allows to search for, download and playback calls currently stored in system</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="~/Portfolio/Atmos/CallDetails.png" />
                        <div class="carousel-caption">
                            <p>Call details page of a specific call with ability to listen, evaluate or email it.</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="~/Portfolio/Atmos/HeartBeats.png" />
                        <div class="carousel-caption">
                            <p>Designed for statistict of agent working machines.</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="~/Portfolio/Atmos/QC.png" />
                        <div class="carousel-caption">
                            <p>Quality control page. User can customize the form to say what you think best fits your companies needs to quality control.</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="~/Portfolio/Atmos/Reports.png" />
                        <div class="carousel-caption">
                            <p>Customized reports. User can filter out what he dones’t want in his report by selecting only want he want to show.</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="~/Portfolio/Atmos/Settings.png" />
                        <div class="carousel-caption">
                            <p>The “General Settings” page will allow you to set up and view plan details, plan usage, billing, invoice history and company information.</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="~/Portfolio/Atmos/Management.png" />
                        <div class="carousel-caption">
                            <p>Administrator page.</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="~/Portfolio/Atmos/Localization.png" />
                        <div class="carousel-caption">
                            <p>External tool for lozalize the project.</p>
                        </div>
                    </div>
                </div>
            <div class="carousel-arrow">
                <a data-slide="prev" href="#atmosScreenCarousel" class="left carousel-control">
                    <i class="fa fa-angle-left"></i>
                </a>
                <a data-slide="next" href="#atmosScreenCarousel" class="right carousel-control">
                    <i class="fa fa-angle-right"></i>
                </a>
            </div>
            </div>
        </div>
    </div>
    <!--=== End Container Part ===-->
