	<!-- CSS Page Style -->
<link rel="stylesheet" href="~/css/pages/portfolio-v1.css">

<!-- Portfolio Section -->
<section id="portfolio">

    <!--=== Breadcrumbs v3 ===-->
    <div class="breadcrumbs-v3 img-v1">
        <div class="container text-center">
            <h1>Our Portfolio</h1>
            <p>
                We do <strong>things</strong> differently company providing key digital services. <br>
                Focused on helping our clients to build a <strong>successful</strong> business on web and mobile.
            </p>
        </div><!--/end container-->
    </div>
    <!--=== End Breadcrumbs v3 ===-->

    <!--=== Content Part ===-->
    <div class="container content-sm">
        <div class="row">
            <div class="col-sm-6">
                <div class="view view-tenth">
                    <img class="img-responsive" src="~/img/main/img9.jpg" alt="" />
                    <div class="mask">
                        <h2>Portfolio Item</h2>
                        <p>At vero eos et accusamus et iusto odio dignissimos dolores et quas molestias excepturi sint occaecati cupiditate non provident.</p>
                        <a href="/Portfolio/Project" class="info">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="view view-tenth">
                    <img class="img-responsive" src="~/img/main/img10.jpg" alt="" />
                    <div class="mask">
                        <h2>Portfolio Item</h2>
                        <p>At vero eos et accusamus et iusto odio dignissimos dolores et quas molestias excepturi sint occaecati cupiditate non provident.</p>
                        <a href="/Portfolio/Project" class="info">Read More</a>
                    </div>
                </div>
            </div>
        </div><!--/row-->
        <div class="row">
            <div class="col-sm-6">
                <div class="view view-tenth no-margin-bottom">
                    <img class="img-responsive" src="~/img/main/img12.jpg" alt="" />
                    <div class="mask">
                        <h2>Portfolio Item</h2>
                        <p>At vero eos et accusamus et iusto odio dignissimos dolores et quas molestias excepturi sint occaecati cupiditate non provident.</p>
                        <a href="/Portfolio/Project" class="info">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="view view-tenth no-margin-bottom">
                    <img class="img-responsive" src="~/img/main/img24.jpg" alt="" />
                    <div class="mask">
                        <h2>Portfolio Item</h2>
                        <p>At vero eos et accusamus et iusto odio dignissimos dolores et quas molestias excepturi sint occaecati cupiditate non provident.</p>
                        <a href="/Portfolio/Project" class="info">Read More</a>
                    </div>
                </div>
            </div>
        </div><!--/row-->
    </div><!--/container-->
    <!--=== End Content Part ===-->

   
</section>