
@Html.Partial("ProjectMenu.cshtml")
	<!-- CSS Page Style -->
<link href="~/css/custom.css" rel="stylesheet" />
<link rel="stylesheet" href="~/css/pages/portfolio-v1.css">

<!-- Portfolio Section -->
<section id="portfolio">

    <!--=== Parallax ===-->
    <div class="parallax-header-portfolio" style="background-position: 0% 100%;">
         <div class="container content-sm text-center">
             <div class="tp-caption rs-caption-2">
                 PORTFOLIO
             </div>
             <div class="tp-caption rs-caption-4">
                 Focused on helping our clients to build a<strong> successful </strong>business on web.
             </div>
        </div><!--/end container-->
    </div>
    <!--=== End Parallax ===-->

    <!--=== Content Part ===-->
    <div class="container content-sm">
        <div class="row">
            <div class="col-sm-6">
                <div class="view view-tenth">
                    <img class="img-responsive" src="~/Portfolio/Atmos/Home.png" alt="" />
                    <div class="mask">
                        <h2>Atmos</h2>
                        <p>The Atmos application has allowed to provide cloud-based, compliant and secure call recording solution. All calls are stored in a 256-bit encrypted format, with the original file preserved in its original state with a rotating encryption methodology that is unique and
specific to each individual call.</p>
                        <a href="/Portfolio/Atmos" class="info">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="view view-tenth">
                    <img class="img-responsive" src="~/Portfolio/AtmosPBX/AgentCallActive.png" alt=""/>
                    <div class="mask">
                        <h2>Atmos PBX</h2>
                        <p>At vero eos et accusamus et iusto odio dignissimos dolores et quas molestias excepturi sint occaecati cupiditate non provident.</p>
                        <a href="/Portfolio/PBX/" class="info">Read More</a>
                    </div>
                </div>
            </div>

        </div><!--/row-->
        <div class="row">
            <div class="col-sm-6">
                <div class="view view-tenth no-margin-bottom">
                    <img class="img-responsive" src="~/Portfolio/AtmosRecordingAndSendingService/WeeklyAtmosReview.png" alt="" style="min-height: 350px;" />
                    <div class="mask">
                        <h2>Atmos Recording Service</h2>
                        <p>At vero eos et accusamus et iusto odio dignissimos dolores et quas molestias excepturi sint occaecati cupiditate non provident.</p>
                        <a href="/Portfolio/RecordingService" class="info">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="view view-tenth no-margin-bottom">
                    <img class="img-responsive" src="~/img/main/img24.jpg" alt="" />
                    <div class="mask">
                        <h2>Portfolio Item</h2>
                        <p>At vero eos et accusamus et iusto odio dignissimos dolores et quas molestias excepturi sint occaecati cupiditate non provident.</p>
                        <a href="/Portfolio/Project" class="info">Read More</a>
                    </div>
                </div>
            </div>
        </div><!--/row-->
    </div><!--/container-->
    <!--=== End Content Part ===-->

   
</section>