
@Html.Partial("ProjectMenu.cshtml")

<!-- Portfolio Section -->
<section id="portfolio">

    <!--=== Parallax ===-->
    <div class="parallax-header-portfolio" style="background-position: 0% 100%;">
        <div class="container content-sm text-center">
            <div class="tp-caption rs-caption-1" style="white-space:normal;padding-top:50px;">
                PORTFOLIO
            </div>
            <div class="tp-caption rs-caption-2" style="white-space:normal !important;">
                Focused on helping our clients to build a<strong> successful </strong>business on web.
            </div>
            <div class="tp-caption rs-caption-4">
                &nbsp
            </div>
        </div>
    </div>
    <!--=== End Parallax ===-->

    <!--=== Content Part ===-->
    <div class="container content-sm">
        <div class="row">
            <div class="col-sm-6">
                <div class="mask" style="text-align: center;/* background: #f7efef; */">
                    <h2>Call Management</h2>
                <p>The application provides cloud-based, compliant and secure call recording solution.</p>
            </div>
                <div class="view view-tenth">
                    <img class="img-responsive" src="~/img/Portfolio/CallManagementSolution/Home-min.png" alt=""/>
                    @*<div class="mask">
                        <h2>Call Management</h2>
                        <p>The application provides cloud-based, compliant and secure call recording solution.</p>
                        <a href="/Portfolio/CallManagementSolution/" class="info">Read More</a>
                    </div>*@
                    <a href="/Portfolio/CallManagementSolution/" style="opacity: 1;transform: scale(1);"  class="info">Read More</a>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="mask">
                    <h2>Call Center</h2>
                    <p>The application provides pbx telephony functionality, recording and secure management for call centers</p>
                </div>
                <div class="view view-tenth">
                    <img class="img-responsive" src="~/img/Portfolio/CallCenter/AgentCallActive-min.png" alt=""/>
                    <a href="/Portfolio/CallCenter/" style="opacity: 1;transform: scale(1);" class="info">Read More</a>
                </div>
                
            </div>

        </div><!--/row-->
        <div class="row">
            <div class="col-sm-6">
                <div class="mask">
                    <h2>Recording Service</h2>
                    <p>The application provides recording of audio and sending weekly emails.</p>
                </div>
                <div class="view view-tenth">
                    <img class="img-responsive" src="~/img/Portfolio/RecordingAndSendingService/WeeklyReview-min.png" alt=""/>
                    <a href="/Portfolio/RecordingService" style="opacity: 1;transform: scale(1);" class="info">Read More</a>
                </div>
            </div>
        </div><!--/row-->
    </div><!--/container-->
    <!--=== End Content Part ===-->

   
</section>