/* Add here all your css styles (customizations) */

.aboutCustom {
    margin-left: auto;
    margin-right: auto;
    float: none;
}

.float-right {
    float: right !important;
}

.float-left {
    float: left !important;
}

@media(max-width: 452px){
    .float-right {
    float: none !important;
}

.float-left {
    float: none !important;
}
}

.aboutHeadlines {
    font-size: 20px;
}/* Add here all your css styles (customizations) */
.carousel-v1 .carousel-caption { /*Put caption input carousel under thead screenshots*/
    position: relative;
}

.view a.info:hover {
    background: #3498db !important;
}

.col-sm-8 .fa-check {
    margin: 0 5px;
}
#screenCarousel {
    
    margin: 0 -15px;
}
    #screenCarousel .item {
        cursor: pointer;
    }

    /*Borders aroung header*/
    .col-sm-6>.mask {
            height: 100%;
    border: 2px solid #f2f2f2;
    border-bottom: none;
    }
.partnership-block > p {
    margin: 0;
    text-align: left;
}